<style>
  @import "../assets/css/leaflet.css";
  @import "../assets/css/index.css";
</style>
<template>
  <div>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><router-link to="welcome">Willkommen</router-link></li>
          <li><router-link to="cv">Lebenslauf</router-link></li>
        </ul>
      </div>
    </nav>
    <div id="content" class="container fill">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
</script>
