<template lang="html">
    <div>
        <div id="header" class="row">
            <h1>Mein Lebenslauf als Geo-App</h1>
            <p>Da ich programmieren kann, dachte ich
                mir, ich versuche mal einen Lebenslauf mit/auf GoogleMaps anzuzeigen.</p>
            <p>Der Time-Slider betrachtet immer nur die Startzeit, ab wann eine Aktivität begonnen hat.<br> Hier bei
                wird auf der linken Seite immer der 01.01.**Jahr** genommen und auf der rechten Seite 31.12.**Jahr**. Angezeigt wird dabei immer die Schnittmenge zwischen dem ausgewählten Intervall und den Intervallen meines Lebenslaufes.
            </p>
            <p>
                Falls Sie sich mal den Quellcode hier von anschauen wollen, ist das Repository <a href="https://bitbucket.org/onlyme12/profile/repositories">hier</a>.
            </p>

        </div>
        <div id="controls" class="row">
            <div id="category-selector" class="col-sm-6" style="padding-bottom: 10px;">
                <ul class="cv-category-selectors cv-category-circle">
                    <li><a href="#/cv" v-on:click="onCategorySelector('all')" class="icon-all" title="Alle"><i
                            class="fa fa-globe"></i></a></li>
                    <li><a href="#/cv" v-on:click="onCategorySelector('edu')" class="icon-edu" title="Bildung"><i
                            class="fa fa-university"></i></a></li>
                    <li><a href="#/cv" v-on:click="onCategorySelector('job')" class="icon-job" title="Jobs"><i
                            class="fa fa-building"></i></a></li>
                    <li><a href="#/cv" v-on:click="onCategorySelector('project')" class="icon-project" title="Projekte"><i
                            class="fa fa-briefcase"></i></a></li>
                    <li><a href="#/cv" v-on:click="onCategorySelector('publication')" class="icon-publication"
                           title="Veröffentlichungen"><i class="fa fa fa-book"></i></a></li>
                </ul>

            </div>

        </div>
        <div id="content" class="row">
            <vue-slider ref="slider" @callback="onTimeRangeChanged" v-model="selectors.time" :min=2005
                        :max=2018></vue-slider>

            <div id="map-column" class="col-sm-7">
                <v-map :zoom="maps.zoom" :center="maps.center" :bounds=maps.bounds ref="map">
                    <v-tilelayer :url="maps.url" attribution="attribution"></v-tilelayer>
                    <!-- <v-marker :lat-lng="maps.center" :options=maps.defaultIcon></v-marker>-->
                    <div v-for="(marker,index) in cvEntries" :key="marker.name">
                        <v-marker v-for="place in marker.places" :key="marker.name" :lat-lng="place.location"
                                  :icon=place.mapIcon :visible="true" v-on:l-click="onMarkerClick(marker,index)">
                            <v-tooltip content="click me!"></v-tooltip>
                            <v-popup :content="marker.name + '<br> Ort:' +place.name"></v-popup>
                        </v-marker>
                    </div>

                </v-map>
            </div>

            <div id="timeline" class="col-sm-5" style="overflow-y: scroll;" data-spy="scroll" data-target="v-marker">

                <!-- https://bootsnipp.com/snippets/z4bEn-->
                <div class="timeline timeline-line-dotted">
                    <template v-for="(item,index) in cvEntries">
                        <span class="timeline-label">
                            <span class="label label-primary" :style="{'background-color': item.color}">{{item.timeRange.end}}</span>
                        </span>
                        <template v-if="index % 2 == 0">
                            <div :id="index"  class="timeline-item">
                                <div class="timeline-point" :style="{color: item.color}">
                                    <i :class="item.icon" :style="{color: item.color}"></i>
                                </div>
                                <div class="timeline-event">
                                    <h4 v-html="item.name">{{item.name}}</h4>
                                    <!--if-->
                                    <div class="timeline-body">
                                        <p v-if="item.techstack !== undefined">eingesetzte Technologien:
                                            {{item.techstack}}</p>
                                        <br v-if="item.techstack !== undefined">
                                        Orte:
                                        <p v-for="place in item.places">{{place.name}}</p>
                                    </div>
                                    <div class="timeline-footer">
                                        <p>{{item.timeRange.start}} bis {{item.timeRange.end}}</p>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div :id="index" class="timeline-item timeline-item-right">
                                <div class="timeline-point" :style="{color: item.color}">
                                    <i :class="item.icon" :style="{color: item.color}"></i>
                                </div>
                                <div class="timeline-event">
                                    <h4 v-html="item.name">{{item.name}}</h4>
                                    <!--if-->
                                    <div class="timeline-body">
                                        <p v-if="item.techstack !== undefined">eingesetzte Technologien:
                                            {{item.techstack}}</p>
                                        <br v-if="item.techstack !== undefined">
                                        Orte:
                                        <p v-for="place in item.places">{{place.name}}</p>
                                    </div>
                                    <div class="timeline-footer">
                                        <p>von {{item.timeRange.start}} bis {{item.timeRange.end}}</p>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <span class="timeline-label">
                                <span class="label label-primary" :style="{'background-color': item.color}">{{item.timeRange.start}}</span>
                        </span>
                    </template>
                </div>

            </div>
        </div>
    </div>
</template>

<style scoped>
    #map-column {
        height: 400px;
    }
</style>

<script>
    import Vue from 'vue'
    import Vue2Leaflet from "vue2-leaflet";
    import axios from "axios";
    import API from "../../API.json"
    import vueSlider from 'vue-slider-component'
    import RangeSlider from 'vue-range-slider'

    $("#map-column").css('height', $(window).height())
    Vue.component('v-map', Vue2Leaflet.Map);
    Vue.component('v-tilelayer', Vue2Leaflet.TileLayer);
    Vue.component('v-marker', Vue2Leaflet.Marker);
    Vue.component('v-tooltip', Vue2Leaflet.Tooltip);
    Vue.component('v-popup', Vue2Leaflet.Popup);
    Vue.component('vue-slider', vueSlider);
    Vue.component('range-slider', RangeSlider)

    export default {
        name: 'cv',
        //store,

        data() {
            return {
                cvEntries: [],
                categories:[],
                value: [2005, 2018],
                timelineTemp: 0,
                maps: {
                    url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
                    center: [52.4569312, 13.5264438],
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                    zoom: 4,
                    icons: categoryItems,
                    bounds: null
                },
                selectors: {
                    time: [2005, 2018],
                    category: "all"
                },
                time: {
                    start: "/01/01",
                    end: "/12/31"
                }
            }
        },
        mounted: function () {
         //   this.$store.dispatch('GET_ALL_EXERCISES');
            let vm = this;
            const url = API.server + "/cv/filter?start=" + vm.selectors.time[0] +this.time.start+"&end=" + vm.selectors.time[1] + this.time.end;
            console.log(url);
            axios.get(url)
                 .then(resp => {
                    vm.cvEntries = mapCVData(resp.data.Data);
                 })

        },
        beforeUpdate: function () {
            var contentHeight = $(window).height() - $("#controls").height() - $("#header").height() - 100;
            $("#map-column").css({'height': contentHeight});
            $("#timeline").css({'height': contentHeight});

            this.$refs.map.mapObject.invalidateSize();
            this.$refs.map.mapObject._onResize();
            this.$refs.map.mapObject.trackResize = true;

        },
        methods: {
            onTimeRangeChanged: function () {
                console.log(this.selectors.time);
                let vm = this;
                    vm.sendRequest()
            },
            onMarkerClick: function (item, index) {
                console.log(index);
                var anchor = $("#" + index);
                $("#timeline").animate({scrollTop: anchor.position().top});
            },
            onCategorySelector: function (val) {
                this.selectors.category = val;
                this.sendRequest()

            },
            sendRequest: function () {
                let vm = this;
                let url = API.server + "/cv/filter?start=" + vm.selectors.time[0] + this.time.start + "&end=" + vm.selectors.time[1] + this.time.end;
                if (vm.selectors.category == "all") {
                    axios.get(url)
                        .then(resp => {
                            console.log(resp.data.BBox);
                            vm.maps.zoom = 4;
                            Vue.nextTick(()=>{
                                vm.cvEntries = mapCVData(resp.data.Data)
                            })
                            vm.maps.bounds = L.latLngBounds(L.latLng(resp.data.BBox.Min.X, resp.data.BBox.Min.Y), L.latLng(resp.data.BBox.Max.X, resp.data.BBox.Max.Y))
                        })
                    return;
                }
                //if end = this.year -> server-end
                //&start="year/month/day"&end="..."
                url = url+"&category=" + vm.selectors.category
                axios.get(url)
                    .then(resp => {
                        vm.cvEntries = mapCVData(resp.data.Data);
                        console.log(resp.data.BBox);
                        vm.maps.bounds = L.latLngBounds(L.latLng(resp.data.BBox.Min.X, resp.data.BBox.Min.Y), L.latLng(resp.data.BBox.Max.X, resp.data.BBox.Max.Y))
                    })
            }

        }
    }
    let categoryItems = {
        edu: L.icon({
            iconUrl: 'src/assets/leaflet/marker-blue.svg',
            shadowUrl: 'src/assets/leaflet/marker-shadow.png',

            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the po
        }),
        job: L.icon({
            iconUrl: 'src/assets/leaflet/marker-orange.svg',
            shadowUrl: 'src/assets/leaflet/marker-shadow.png',

            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the po
        }),
        project: L.icon({
            iconUrl: 'src/assets/leaflet/marker-green.svg',
            shadowUrl: 'src/assets/leaflet/marker-shadow.png',

            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the po
        }),
        publication: L.icon({
            iconUrl: 'src/assets/leaflet/marker-red.svg',
            shadowUrl: 'src/assets/leaflet/marker-shadow.png',

            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the po
        })
    }

    function mapCVData(cvData) {
        //timeRange.end > Now -->"jetzt" reinschreiben
        // create icon-field
        cvData.forEach((item, index) => {
            cvData[index].places.forEach((place, index1) => {
                cvData[index].places[index1].location = L.latLng(parseFloat(place.location.lat), parseFloat(place.location.lon))
                cvData[index].places[index1].mapIcon = categoryItems[cvData[index].category];
                let now = new Date()
                if (parseInt(cvData[index].timeRange.end.split('/')[0]) > now.getFullYear())
                    cvData[index].timeRange.end = "Jetzt";
                switch (cvData[index].category) {
                    case "edu":
                        cvData[index].icon = "fa fa-university";
                        cvData[index].color = "#1f77b4";
                        break;
                    case "job":
                        cvData[index].icon = "fa fa-building";
                        cvData[index].color = "#FF7F0E";

                        break;
                    case "project":
                        cvData[index].icon = "fa fa-briefcase";
                        cvData[index].color = "#2ca02c";

                        break;
                    case "publication":
                        cvData[index].icon = "fa fa fa-book";
                        cvData[index].color = "#d62728";

                        break;

                }
            })
        })
        return cvData;
    }
</script>


