<template lang="html">
<div class="row">

    <div class="col-sm-2" style="padding-top: 10px"><a href="#" class="pull-left"><img title="profile image" class="img-circle img-responsive" :src="person.picPathRel"></a></div>
    <div class="jumbotron">
        <h1>Willkommen!</h1>
        <p>Mein Name ist {{person.name.first}} {{person.name.last}}, ich kam am {{person.birthday}} zur Welt. Dies ist meine kleine Website, wenn Sie mehr über mich erfahren wollen klicken Sie bitte auf Lebenslauf oder nutzen Sie hier unten den Button.</p>
        <p>Falls Sie mich kontaktieren wollen, können Sie dies über LinkedIn oder E-Mail (Google+-Symbol) machen. Ich würde mich freuen von Ihnen zu hören und falls Sie interesse an Quellcode von mir haben, klicken Sie doch einfach auf die Bitbucket/Github-Buttons</p>
        <p>Das Backend zu diesem kleinen Projekt ist in <a href="https://golang.org/" target="_tab">GoLang </a>  geschrieben. Falls Sie die API zu diesem Projekt interessiert, hier ist ein kleine <a :href="api.server+api.pathSwagger" target="_tab">Dokumentation </a></p>
        <p><router-link to="cv"><a class="btn btn-primary btn-lg" role="button">Mehr erfahren</a></router-link></p>

    </div>
    <ul class="social-network social-circle">
        <li><a href="https://bitbucket.org/ffischer/" target="_tab" class="icoLinkedin" title="Source Code"><i class="fa fa-bitbucket"></i></a></li>
        <li><a :href="'mailto:'+person.email" class="icoGoogle" title="MailMe ;)"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.linkedin.com/in/fabian-fischer-86436793/" target="_tab" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>
</template>

<script>
  import API from "../../API.json"
  import axios from "axios"
  import Vue from "vue";


  export default {
    name: 'welcome',
    mounted: function (){
        let vm = this;
        axios.get(API.server+"/cv")
             .then(resp => {
               console.log(resp.data.person);
               vm.person = resp.data.person
               vm.person.picPathRel = API.server+resp.data.person.picPathRel
             })
    },
    data(){
      return {
        person :{},
        api:API
      }
    }
  }
</script>

<style scoped>

</style>
