.custom-progress {
    height:20px;margin-bottom:3px;margin-top:3px;overflow:hidden;background-color:#f7f7f7;background-image:-moz-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));background-image:-webkit-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-o-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:linear-gradient(to bottom,#f5f5f5,#f9f9f9);background-repeat:repeat-x;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)
}
.slider {
    /* overwrite slider styles */
    width: 200px;
}
/*=========================
  cv-category selector
 ================= */

/* footer social icons */
ul.cv-category-selectors {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.cv-category-selectors li {
    display: inline;
    margin: 0 5px;
}

.cv-category-selectors a.icon-all {
    background-color:#0c0c0c;
}

.cv-category-selectors a.icon-edu {
    background-color:#1f77b4;
}

.cv-category-selectors a.icon-project{
    background-color:#2ca02c;
}


.cv-category-selectors a.icon-job {
    background-color:#FF7F0E;
}


.cv-category-selectors a.icon-publication{
    background-color:#d62728;
}

.cv-category-selectors a:hover {
    background-color: #D3D3D3;
}


.cv-category-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.cv-category-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.cv-category-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.cv-category-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


.cv-category-circle a {
    background-color: #D3D3D3;
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


.social-circle a {
    background-color: #D3D3D3;
}
/***
        Timeline
 */

.timeline {
    width: 100%;
    position: relative;
    padding: 1px 0;
    list-style: none;
    font-weight: 300;
}
.timeline .timeline-item {
    padding-left: 0;
    padding-right: 30px;
}
.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left: 30px;
    padding-right: 0;
}
.timeline .timeline-item .timeline-event {
    padding: 5px;
    width: 100%;
}
.timeline:before {
    border-right-style: solid;
}
.timeline:before,
.timeline:after {
    content: " ";
    display: block;
}
.timeline:after {
    clear: both;
}
.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100% !important;
    margin-left: 1px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #888888;
}
.timeline.timeline-single-column.timeline {
    width: 100%;
    max-width: 768px;
}
.timeline.timeline-single-column.timeline .timeline-item {
    padding-left: 72px;
    padding-right: 0;
}
.timeline.timeline-single-column.timeline .timeline-item.timeline-item-right,
.timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left: 72px;
    padding-right: 0;
}
.timeline.timeline-single-column.timeline .timeline-item .timeline-event {
    width: 100%;
}
.timeline.timeline-single-column.timeline:before {
    left: 42px;
    width: 0;
    margin-left: -1px;
}
.timeline.timeline-single-column.timeline .timeline-item {
    width: 100%;
    margin-bottom: 20px;
}
.timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even) {
    margin-top: 0;
}
.timeline.timeline-single-column.timeline .timeline-item > .timeline-event {
    float: right !important;
}
.timeline.timeline-single-column.timeline .timeline-item > .timeline-event:before,
.timeline.timeline-single-column.timeline .timeline-item > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline.timeline-single-column.timeline .timeline-item > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important;
}
.timeline.timeline-single-column.timeline .timeline-item > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important;
}
.timeline.timeline-single-column.timeline .timeline-item > .timeline-point {
    transform: translateX(-50%);
    left: 42px !important;
    margin-left: 0;
}
.timeline.timeline-single-column.timeline .timeline-label {
    transform: translateX(-50%);
    margin: 0 0 20px 42px;
}
.timeline.timeline-single-column.timeline .timeline-label + .timeline-item + .timeline-item {
    margin-top: 0;
}
.timeline.timeline-line-solid:before {
    border-right-style: solid;
}
.timeline.timeline-line-dotted:before {
    border-right-style: dotted;
}
.timeline.timeline-line-dashed:before {
    border-right-style: dashed;
}
.timeline .timeline-item {
    position: relative;
    float: left;
    clear: left;
    width: 50%;
    margin-bottom: 20px;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
    content: "";
    display: table;
}
.timeline .timeline-item:after {
    clear: both;
}
.timeline .timeline-item:last-child {
    margin-bottom: 0 !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
    float: right !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event:before,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
.timeline .timeline-item.timeline-item-right > .timeline-event:after,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event:before,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event:after,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important;
}
.timeline .timeline-item > .timeline-event:before {
    top: 10px;
    right: -15px;
    border-top: 15px solid transparent;
    border-left-width: 15px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 15px solid transparent;
}
.timeline .timeline-item > .timeline-event:after {
    top: 11px;
    right: -14px;
    border-top: 14px solid transparent;
    border-left-width: 14px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 14px solid transparent;
}
.timeline .timeline-item > .timeline-point {
    top: 25px;
}
.timeline-single-column.timeline .timeline-item > .timeline-event {
    float: right !important;
}
.timeline-single-column.timeline .timeline-item > .timeline-event:before,
.timeline-single-column.timeline .timeline-item > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline-single-column.timeline .timeline-item > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important;
}
.timeline-single-column.timeline .timeline-item > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important;
}
.timeline .timeline-item:nth-of-type(2) {
    margin-top: 40px;
}
.timeline .timeline-item.timeline-item-left,
.timeline .timeline-item.timeline-item-right {
    clear: both !important;
}
.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    float: right;
    clear: right;
}
.timeline .timeline-item.timeline-item-right > .timeline-point,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-point {
    left: -24px;
}
.timeline .timeline-item.timeline-item-right > .timeline-point.timeline-point-blank,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) > .timeline-point.timeline-point-blank {
    left: -12px;
}
.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event,
.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
    float: right !important;
}
.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:after,
.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
    left: -10px !important;
    border-right-width: 10px !important;
}
.timeline .timeline-item.timeline-item-arrow-sm.timeline-item-right > .timeline-event:after,
.timeline .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    left: -9px !important;
    border-right-width: 9px !important;
}
.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before {
    top: 4px;
    right: -10px;
    border-top: 10px solid transparent;
    border-left-width: 10px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 10px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
    top: 5px;
    right: -9px;
    border-top: 9px solid transparent;
    border-left-width: 9px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 9px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-sm > .timeline-point {
    top: 14px;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event {
    float: right !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before,
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before {
    left: -10px !important;
    border-right-width: 10px !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
    left: -9px !important;
    border-right-width: 9px !important;
}
.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event,
.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
    float: right !important;
}
.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:after,
.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important;
}
.timeline .timeline-item.timeline-item-arrow-md.timeline-item-right > .timeline-event:after,
.timeline .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important;
}
.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:before {
    top: 10px;
    right: -15px;
    border-top: 15px solid transparent;
    border-left-width: 15px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 15px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:after {
    top: 11px;
    right: -14px;
    border-top: 14px solid transparent;
    border-left-width: 14px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 14px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-md > .timeline-point {
    top: 25px;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event {
    float: right !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:before,
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important;
}
.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event,
.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event {
    float: right !important;
}
.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:after,
.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:before,
.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:before {
    left: -18px !important;
    border-right-width: 18px !important;
}
.timeline .timeline-item.timeline-item-arrow-lg.timeline-item-right > .timeline-event:after,
.timeline .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left) > .timeline-event:after {
    left: -17px !important;
    border-right-width: 17px !important;
}
.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before {
    top: 10px;
    right: -18px;
    border-top: 18px solid transparent;
    border-left-width: 18px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 18px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
    top: 11px;
    right: -17px;
    border-top: 17px solid transparent;
    border-left-width: 17px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
    border-bottom: 17px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-lg > .timeline-point {
    top: 28px;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event {
    float: right !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before,
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before {
    left: -18px !important;
    border-right-width: 18px !important;
}
.timeline-single-column.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
    left: -17px !important;
    border-right-width: 17px !important;
}
.timeline .timeline-item > .timeline-event {
    background: #fff;
    border: 1px solid #888888;
    color: #555;
    position: relative;
    float: left;
    border-radius: 3px;
}
.timeline .timeline-item > .timeline-event:before {
    border-left-color: #888888;
    border-right-color: #888888;
}
.timeline .timeline-item > .timeline-event:after {
    border-left-color: #fff;
    border-right-color: #fff;
}
.timeline .timeline-item > .timeline-event * {
    color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-default {
    background: #fff;
    border: 1px solid #888888;
    color: #555;
}
.timeline .timeline-item > .timeline-event.timeline-event-default:before {
    border-left-color: #888888;
    border-right-color: #888888;
}
.timeline .timeline-item > .timeline-event.timeline-event-default:after {
    border-left-color: #fff;
    border-right-color: #fff;
}
.timeline .timeline-item > .timeline-event.timeline-event-default * {
    color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary {
    background: #f5f5f5;
    border: 1px solid #888888;
    color: #555;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary:before {
    border-left-color: #888888;
    border-right-color: #888888;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary:after {
    border-left-color: #f5f5f5;
    border-right-color: #f5f5f5;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary * {
    color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-success {
    background: #F3F8ED;
    border: 1px solid #72b92e;
    color: #3F8100;
}
.timeline .timeline-item > .timeline-event.timeline-event-success:before {
    border-left-color: #72b92e;
    border-right-color: #72b92e;
}
.timeline .timeline-item > .timeline-event.timeline-event-success:after {
    border-left-color: #F3F8ED;
    border-right-color: #F3F8ED;
}
.timeline .timeline-item > .timeline-event.timeline-event-success * {
    color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-info {
    background: #F0F8FD;
    border: 1px solid #3e93cf;
    color: #0062A7;
}
.timeline .timeline-item > .timeline-event.timeline-event-info:before {
    border-left-color: #3e93cf;
    border-right-color: #3e93cf;
}
.timeline .timeline-item > .timeline-event.timeline-event-info:after {
    border-left-color: #F0F8FD;
    border-right-color: #F0F8FD;
}
.timeline .timeline-item > .timeline-event.timeline-event-info * {
    color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-warning {
    background: #FFF9E9;
    border: 1px solid #d0aa42;
    color: #ac7e00;
}
.timeline .timeline-item > .timeline-event.timeline-event-warning:before {
    border-left-color: #d0aa42;
    border-right-color: #d0aa42;
}
.timeline .timeline-item > .timeline-event.timeline-event-warning:after {
    border-left-color: #FFF9E9;
    border-right-color: #FFF9E9;
}
.timeline .timeline-item > .timeline-event.timeline-event-warning * {
    color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-danger {
    background: #FFC4BC;
    border: 1px solid #d25a4b;
    color: #B71500;
}
.timeline .timeline-item > .timeline-event.timeline-event-danger:before {
    border-left-color: #d25a4b;
    border-right-color: #d25a4b;
}
.timeline .timeline-item > .timeline-event.timeline-event-danger:after {
    border-left-color: #FFC4BC;
    border-right-color: #FFC4BC;
}
.timeline .timeline-item > .timeline-event.timeline-event-danger * {
    color: inherit;
}
.timeline .timeline-item > .timeline-event:before,
.timeline .timeline-item > .timeline-event:after {
    content: "";
    display: inline-block;
    position: absolute;
}
.timeline .timeline-item > .timeline-event .timeline-heading,
.timeline .timeline-item > .timeline-event .timeline-body,
.timeline .timeline-item > .timeline-event .timeline-footer {
    padding: 4px 10px;
}
.timeline .timeline-item > .timeline-event .timeline-heading p,
.timeline .timeline-item > .timeline-event .timeline-body p,
.timeline .timeline-item > .timeline-event .timeline-footer p,
.timeline .timeline-item > .timeline-event .timeline-heading ul,
.timeline .timeline-item > .timeline-event .timeline-body ul,
.timeline .timeline-item > .timeline-event .timeline-footer ul {
    margin-bottom: 0;
}
.timeline .timeline-item > .timeline-event .timeline-heading h4 {
    font-weight: 400;
}
.timeline .timeline-item > .timeline-event .timeline-footer a {
    cursor: pointer;
    text-decoration: none;
}
.timeline .timeline-item > .timeline-event .panel,
.timeline .timeline-item > .timeline-event .table,
.timeline .timeline-item > .timeline-event .blankslate {
    margin: 0;
    border: none;
    border-radius: inherit;
    overflow: hidden;
}
.timeline .timeline-item > .timeline-event .table th {
    border-top: 0;
}
.timeline .timeline-item > .timeline-point {
    color: #888888;
    background: #fff;
    right: -24px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: 12px;
    margin-right: 12px;
    position: absolute;
    z-index: 100;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
}
.timeline .timeline-item > .timeline-point.timeline-point-blank {
    right: -12px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: 6px;
    margin-right: 6px;
    color: #888888;
    background: #888888;
}
.timeline .timeline-item > .timeline-point.timeline-point-default {
    color: #888888;
    background: #fff;
}
.timeline .timeline-item > .timeline-point.timeline-point-primary {
    color: #888888;
    background: #fff;
}
.timeline .timeline-item > .timeline-point.timeline-point-success {
    color: #72b92e;
    background: #fff;
}
.timeline .timeline-item > .timeline-point.timeline-point-info {
    color: #3e93cf;
    background: #fff;
}
.timeline .timeline-item > .timeline-point.timeline-point-warning {
    color: #d0aa42;
    background: #fff;
}
.timeline .timeline-item > .timeline-point.timeline-point-danger {
    color: #d25a4b;
    background: #fff;
}
.timeline .timeline-label {
    position: relative;
    float: left;
    clear: left;
    width: 50%;
    margin-bottom: 20px;
    top: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.timeline .timeline-label:before,
.timeline .timeline-label:after {
    content: "";
    display: table;
}
.timeline .timeline-label:after {
    clear: both;
}
.timeline .timeline-label:last-child {
    margin-bottom: 0 !important;
}
.timeline .timeline-label + .timeline-item {
    margin-top: 0;
}
.timeline .timeline-label + .timeline-item + .timeline-item {
    margin-top: 40px;
}
.timeline .timeline-label .label-default {
    background-color: #888888;
}
.timeline .timeline-label .label-primary {
    background-color: #888888;
}
.timeline .timeline-label .label-info {
    background-color: #3e93cf;
}
.timeline .timeline-label .label-warning {
    background-color: #d0aa42;
}
.timeline .timeline-label .label-danger {
    background-color: #d25a4b;
}
@media (max-width: 768px) {
    .timeline.timeline {
        width: 100%;
        max-width: 100%;
    }
    .timeline.timeline .timeline-item {
        padding-left: 72px;
        padding-right: 0;
    }
    .timeline.timeline .timeline-item.timeline-item-right,
    .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
        padding-left: 72px;
        padding-right: 0;
    }
    .timeline.timeline .timeline-item .timeline-event {
        width: 100%;
    }
    .timeline.timeline:before {
        left: 42px;
        width: 0;
        margin-left: -1px;
    }
    .timeline.timeline .timeline-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline.timeline .timeline-item:nth-of-type(even) {
        margin-top: 0;
    }
    .timeline.timeline .timeline-item > .timeline-event {
        float: right !important;
    }
    .timeline.timeline .timeline-item > .timeline-event:before,
    .timeline.timeline .timeline-item > .timeline-event:after {
        right: auto !important;
        border-left-width: 0 !important;
    }
    .timeline.timeline .timeline-item > .timeline-event:before {
        left: -15px !important;
        border-right-width: 15px !important;
    }
    .timeline.timeline .timeline-item > .timeline-event:after {
        left: -14px !important;
        border-right-width: 14px !important;
    }
    .timeline.timeline .timeline-item > .timeline-point {
        transform: translateX(-50%);
        left: 42px !important;
        margin-left: 0;
    }
    .timeline.timeline .timeline-label {
        transform: translateX(-50%);
        margin: 0 0 20px 42px;
    }
    .timeline.timeline .timeline-label + .timeline-item + .timeline-item {
        margin-top: 0;
    }
    a {
        color:blue;
    }
}
